 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Dogan Kilic is a Mobile Developer. Focused on Java/Swift/Kotlin. Loves pizza. Starving for any kind of information. Works @DMI.</p>
                </div>
                <div class="col-lg-4">
                    <p>I seek work assignments that challenge my skills, permit me to learn new ones and to use innovative talents in mobile technologies.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>